/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  color: #ffffff;
  font-size: 3.2em;
  line-height: 150%;
  margin: 2% 0 5% 0;
  text-transform: uppercase; }

h2 {
  color: #ffffff;
  font-size: 1.9em;
  letter-spacing: 8px;
  text-transform: uppercase; }

h3 {
  color: #7f65c7;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase; }

h3:after {
  content: url(http://placehold.it/250x40);
  display: block;
  margin-bottom: 3%; }

h4 {
  font-size: 2em;
  text-transform: capitalize; }
  h4 span {
    color: #7f65c7; }

section {
  display: inline-block;
  padding: 5% 15%;
  width: 70%; }

section:nth-of-type(odd) {
  background-color: #7f65c7; }
  section:nth-of-type(odd) h3 {
    color: #ffffff; }

.button, .linkprimary:link, .linksecondary:link, .linkoutline:link {
  border-radius: 3.25em;
  font-size: 1em;
  font-weight: 700;
  margin-right: 4%;
  padding: 1em 1.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }

.linkprimary:link {
  border: 1px solid #7f65c7;
  color: #7f65c7; }

.linkprimary:visited {
  color: #7f65c7; }

.linkprimary:hover {
  border: 1px solid #c19b00; }

.linkprimary:active {
  color: #7f65c7; }

.linksecondary:link {
  background-color: #c19b00;
  color: #ffffff; }

.linksecondary:visited {
  color: #ffffff; }

.linksecondary:hover {
  background-color: #ffffff;
  color: #c19b00; }

.linksecondary:active {
  color: #ffffff; }

.linkoutline:link {
  color: #ffffff;
  border: 1px solid #ffffff; }

.linkoutline:visited {
  color: #ffffff; }

.linkoutline:hover {
  color: #000000; }

.linkoutline:active {
  color: #ffffff; }

/* header */
header {
  align-items: center;
  background-color: #7f65c7;
  border-bottom: 1px solid #c6bfd8;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 15%;
  width: 70%; }

/* general */
.keypoints {
  display: flex; }

.points {
  align-content: center;
  align-items: center;
  border-right: 1px solid #c19b00;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 2%;
  width: 33.33333%;
  -webkit-box-shadow: 5px 25px 15px 0px rgba(0, 4, 88, 0.11);
  -moz-box-shadow: 5px 25px 15px 0px rgba(0, 4, 88, 0.11);
  box-shadow: 5px 25px 15px 0px rgba(0, 4, 88, 0.11); }

.keypoints div:last-child {
  border-right: none; }

.intro div {
  display: inline-block; }
  .intro div:first-child {
    float: left;
    width: 70%; }
  .intro div:nth-child(2) {
    float: left;
    margin-left: 5%;
    width: 25%; }
    .intro div:nth-child(2) img {
      width: 100%; }

section:nth-of-type(2) div:first-of-type {
  float: left;
  width: 30%; }
  section:nth-of-type(2) div:first-of-type img {
    width: 100%; }
section:nth-of-type(2) div:last-of-type {
  background: green;
  float: left;
  margin-left: 10%;
  width: 60%; }

/* footer */
footer a {
  border: 1px solid #7f65c7;
  border-radius: 100%;
  color: #7f65c7;
  display: inline-block;
  height: 25px;
  text-decoration: none;
  width: 25px; }
footer a:hover {
  background-color: #c19b00;
  border: #c19b00; }
footer p {
  text-align: center; }

/* Media Queries */

/*# sourceMappingURL=styles.css.map */
