@import 'reset';

$primary{color:#7f65c7;} //purple
$secndary{color:#c19b00;} //gold

body{
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #ffffff;
  font-size: 4.2em;
  line-height: 200%;
  text-transform: uppercase;
}
h2 {
  color: #ffffff;
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h3 {
  color: $primary;
  font-size: 2.5em;
  text-transform: uppercase;
}
h3:after{
  content:url(http://placehold.it/250x40);
}
h3:odd{
  color: #ffffff;
}
h4 {
  font-size: 2em;
  text-transform: capitalize;
  span {
    color: $primary;
  }
}
section{
  padding:0 15%;
  width: 70%;
}
section:odd{
  background-color: $secondary;
}
.button{
  // supposedly default background-color:transparent;
  border-radius: 3.25em;
  font-size: 1.125em;
  font-weight: 700;
  // height: 50px; //if not padding
  padding: 1em 1.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.linkprimary:link{
  @extend .button;
  border: 1px solid $primary;
  color: $primary;
}
.linkprimary:visited{
  color: $primary;
}
.linkprimary:hover{
  border: 1px solid $secondary;
}
.linkprimary:active{
  color: $primary;
}
.linksecondary:link{
  @extend .button;
  background-color: $secondary;
  color: $ffffff;
}
.linksecondary:visited{
  color: $ffffff;
}
.linksecondary:hover{
  background-color: $primary;
}
.linksecondary:active{
  color: $ffffff;
}
.linkoutline:link{
  @extend .button;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.linkoutline:visited{
  color: #ffffff;
}
.linkoutline:hover{
  color: #000000;
}
.linkoutline:active{
  color: #ffffff;
}
/* header */
header{
  background-color: $secondary;
  border-bottom: 1px solid #ffffff;
  min-height:50px;
  padding:0 15%;
  width: 70%;
}
.logo{
  float:left;
}
.nav{
  float:right;
}
/* general */
.keypoints{
  display: flex;
}
.points{
  align-content: center;
  align-items: center;
  border-right: 1px solid $secondary;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 2%;
  width: 1 / 3 * 100%;
  //width: 32%;
  
  -webkit-box-shadow: 5px 25px 15px 0px rgba(0,4,88,0.11);
  -moz-box-shadow: 5px 25px 15px 0px rgba(0,4,88,0.11);
  box-shadow: 5px 25px 15px 0px rgba(0,4,88,0.11);
}
.keypoints:last-child{
  border-right: none;
}
/* footer */
footer{
  a{
   border: 1px solid $primary;
   border-radius: 100%;   
   color: $primary;
   display: inline-block;
   //line-height:100px;
   height: 25px;
   text-decoration: none; 
   width: 25px;
  }
  a:hover{
   background-color: $secondary;
   border: $secondary;
  }
 p{
   text-align:center;
  }
}
/* Media Queries */
